html{
	min-height:100%;
}

body{
	min-height: :100	
	background-color: #aaa;

}

header{
	padding: 5px;
	font-size: 2em;
	letter-spacing: 0.2px;
	color: #fff;
}

.rqBox{
	margin: 0 auto;
	width: 300px;
	margin-top: 40px;
}

.quoteBox{
	padding-top:30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 330px;
	margin-bottom: 10px;
	font-size: 1.8em;

}

.author{
	margin-top: 20px;
	padding-right:20px;
	font-size: 1.2em;
}