html{
	min-height:100%;
}

body{
	min-height: :100%;
}

header{
	padding: 5px;
	font-size: 2em;
	letter-spacing: 0.2px;
	color: #fff;
}

.rqBox{
	margin: 0 auto;
	width: 300px;
	margin-top: 40px;
}

.quoteBox{
	width: 100%;
	height: 330px;
	margin-bottom: 10px;

}